## Inserting data in MySQL using Python

First let's start with a basic piece of code that fetches the data that we want to insert in the database. For our example, we will get the data about the Citibike stations, using the correspoding API call provided by the Citibike website:

In [1]:
import requests

In [2]:
# Let's get the data from the Citibike API
url = 'http://www.citibikenyc.com/stations/json'
results = requests.get(url).json()

In [3]:
# We only need a subset of the data in the JSON returned by the Citibike API, so we keep only we need
data = results["stationBeanList"]

In [4]:
len(data)

813

Now we will connect to our MySQL server. We will use the MySQLdb library of Python.

If you do not have the library, you need to install it by typing in the shell:

`sudo apt-get install python-mysqldb`

In [5]:
import MySQLdb as mdb

con = mdb.connect(host = 'localhost', 
                  user = 'root', 
                  passwd = 'dwdstudent2015', 
                  charset='utf8', use_unicode=True);

Once we have connected successfully, we need to create our database:

In [6]:
# Query to create a database
db_name = 'citibike_mysql_test'
create_db_query = "CREATE DATABASE IF NOT EXISTS {db} DEFAULT CHARACTER SET 'utf8'".format(db=db_name)

# Create a database
cursor = con.cursor()
cursor.execute(create_db_query)
cursor.close()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: Warning: (1007, "Can't create database 'citibike_mysql_test'; database exists")
  import sys

Then we create the table where we will store our data. For our example, we will just import three fields in the database: station_id, station_name, and number_of_docks

In [7]:
cursor = con.cursor()
table_name = 'Docks'
# Create a table
# The {db} and {table} are placeholders for the parameters in the format(....) statement
create_table_query = '''CREATE TABLE IF NOT EXISTS {db}.{table} 
                                (station_id int, 
                                station_name varchar(250), 
                                number_of_docks int,
                                available_docks int,
                                date datetime,
                                PRIMARY KEY(station_id, date)
                                )'''.format(db=db_name, table=table_name)
cursor.execute(create_table_query)
cursor.close()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:13: Warning: (1050, "Table 'Docks' already exists")
  del sys.path[0]

Finally, we import the data into our table, using the INSERT command.

In [8]:
from datetime import date, datetime, timedelta

query_template = '''INSERT INTO {db}.{table}(station_id, 
                                            station_name, 
                                            number_of_docks, 
                                            available_docks, 
                                            date) 
                    VALUES (%s, %s, %s, %s, %s)'''.format(db=db_name, table=table_name)
cursor = con.cursor()

# THIS IS PROHIBITED
# query = "INSERT INTO citibike.Docks(station_id, station_name, number_of_docks) VALUES ("+entry["id"]+", "+entry["stationName"]+", "+entry["totalDocks"]+")"
for entry in data:
    dockid = entry["id"]
    addr = entry["stationName"]
    docks = entry["totalDocks"]
    available = entry["availableDocks"]
    # date =  datetime.now()
    # lastcommunicationtime is a string of 
    # the form "2016-02-09 10:16:49 AM"
    # See https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior
    # to see the documentation on how to parse 
    date = datetime.strptime(entry["lastCommunicationTime"], 
                             '%Y-%m-%d %I:%M:%S %p')
    print("Inserting station", dockid, "at", addr)
    query_parameters = (dockid, addr, docks, available, date)
    cursor.execute(query_template, query_parameters)

con.commit()
cursor.close()

Inserting station 72 at W 52 St & 11 Ave
Inserting station 79 at Franklin St & W Broadway
Inserting station 82 at St James Pl & Pearl St
Inserting station 83 at Atlantic Ave & Fort Greene Pl
Inserting station 116 at W 17 St & 8 Ave
Inserting station 119 at Park Ave & St Edwards St
Inserting station 120 at Lexington Ave & Classon Ave
Inserting station 127 at Barrow St & Hudson St
Inserting station 128 at MacDougal St & Prince St
Inserting station 143 at Clinton St & Joralemon St
Inserting station 144 at Nassau St & Navy St
Inserting station 146 at Hudson St & Reade St
Inserting station 150 at E 2 St & Avenue C
Inserting station 151 at Cleveland Pl & Spring St
Inserting station 152 at Warren St & Church St
Inserting station 157 at Henry St & Atlantic Ave
Inserting station 161 at LaGuardia Pl & W 3 St
Inserting station 164 at E 47 St & 2 Ave
Inserting station 167 at E 39 St & 3 Ave
Inserting station 168 at W 18 St & 6 Ave
Inserting station 173 at Broadway & W 49 St
Inserting station 174 at E 25 St & 1 Ave
Inserting station 195 at Liberty St & Broadway
Inserting station 212 at W 16 St & The High Line
Inserting station 216 at Columbia Heights & Cranberry St
Inserting station 217 at Old Fulton St
Inserting station 223 at W 13 St & 7 Ave
Inserting station 228 at E 48 St & 3 Ave
Inserting station 229 at Great Jones St
Inserting station 232 at Cadman Plaza E & Tillary St
Inserting station 236 at St Marks Pl & 2 Ave
Inserting station 237 at E 11 St & 2 Ave
Inserting station 238 at Bank St & Washington St
Inserting station 239 at Willoughby St & Fleet St
Inserting station 241 at DeKalb Ave & S Portland Ave
Inserting station 242 at Carlton Ave & Flushing Ave
Inserting station 243 at Fulton St & Rockwell Pl
Inserting station 244 at Willoughby Ave & Hall St
Inserting station 245 at Myrtle Ave & St Edwards St
Inserting station 247 at Perry St & Bleecker St
Inserting station 248 at Laight St & Hudson St
Inserting station 249 at Harrison St & Hudson St
Inserting station 251 at Mott St & Prince St
Inserting station 252 at MacDougal St & Washington Sq
Inserting station 253 at W 13 St & 5 Ave
Inserting station 254 at W 11 St & 6 Ave
Inserting station 257 at Lispenard St & Broadway
Inserting station 258 at DeKalb Ave & Vanderbilt Ave
Inserting station 259 at South St & Whitehall St
Inserting station 260 at Broad St & Bridge St
Inserting station 261 at Johnson St & Gold St
Inserting station 262 at Washington Park
Inserting station 264 at Maiden Ln & Pearl St
Inserting station 265 at Stanton St & Chrystie St
Inserting station 266 at Avenue D & E 8 St
Inserting station 267 at Broadway & W 36 St
Inserting station 268 at Howard St & Centre St
Inserting station 270 at Adelphi St & Myrtle Ave
Inserting station 274 at Lafayette Ave & Fort Greene Pl
Inserting station 275 at Washington Ave & Greene Ave
Inserting station 276 at Duane St & Greenwich St
Inserting station 278 at Concord St & Bridge St
Inserting station 279 at Peck Slip & Front St
Inserting station 280 at E 10 St & 5 Ave
Inserting station 281 at Grand Army Plaza & Central Park S
Inserting station 282 at Kent Ave & S 11 St
Inserting station 284 at Greenwich Ave & 8 Ave
Inserting station 285 at Broadway & E 14 St
Inserting station 289 at Monroe St & Classon Ave
Inserting station 291 at Madison St & Montgomery St
Inserting station 293 at Lafayette St & E 8 St
Inserting station 295 at Pike St & E Broadway
Inserting station 296 at Division St & Bowery
Inserting station 297 at E 15 St & 3 Ave
Inserting station 301 at E 2 St & Avenue B
Inserting station 302 at Avenue D & E 3 St
Inserting station 303 at Mercer St & Spring St
Inserting station 304 at Broadway & Battery Pl
Inserting station 305 at E 58 St & 3 Ave
Inserting station 306 at Cliff St & Fulton St
Inserting station 307 at Canal St & Rutgers St
Inserting station 308 at St James Pl & Oliver St
Inserting station 309 at Murray St & West St
Inserting station 310 at State St & Smith St
Inserting station 311 at Norfolk St & Broome St
Inserting station 312 at Allen St & Stanton St
Inserting station 313 at Washington Ave & Park Ave
Inserting station 314 at Cadman Plaza West & Montague St
Inserting station 315 at South St & Gouverneur Ln
Inserting station 316 at Fulton St & William St
Inserting station 317 at E 6 St & Avenue B
Inserting station 319 at Fulton St & Broadway
Inserting station 320 at Leonard St & Church St
Inserting station 321 at Cadman Plaza E & Red Cross Pl
Inserting station 322 at Clinton St & Tillary St
Inserting station 323 at Lawrence St & Willoughby St
Inserting station 324 at DeKalb Ave & Hudson Ave
Inserting station 325 at E 19 St & 3 Ave
Inserting station 326 at E 11 St & 1 Ave
Inserting station 327 at Vesey Pl & River Terrace
Inserting station 328 at Watts St & Greenwich St
Inserting station 330 at Reade St & Broadway
Inserting station 331 at Pike St & Monroe St
Inserting station 332 at Cherry St
Inserting station 334 at W 20 St & 7 Ave
Inserting station 335 at Washington Pl & Broadway
Inserting station 336 at Sullivan St & Washington Sq
Inserting station 337 at Old Slip & Front St
Inserting station 339 at Avenue D & E 12 St
Inserting station 340 at Madison St & Clinton St
Inserting station 341 at Stanton St & Mangin St
Inserting station 342 at Columbia St & Rivington St
Inserting station 343 at Clinton Ave & Flushing Ave
Inserting station 344 at Monroe St & Bedford Ave
Inserting station 345 at W 13 St & 6 Ave
Inserting station 346 at Bank St & Hudson St
Inserting station 347 at Greenwich St & W Houston St
Inserting station 349 at Rivington St & Ridge St
Inserting station 350 at Clinton St & Grand St
Inserting station 351 at Front St & Maiden Ln
Inserting station 353 at S Portland Ave & Hanson Pl
Inserting station 354 at Emerson Pl & Myrtle Ave
Inserting station 355 at Bayard St & Baxter St
Inserting station 356 at Bialystoker Pl & Delancey St
Inserting station 357 at E 11 St & Broadway
Inserting station 358 at Christopher St & Greenwich St
Inserting station 359 at E 47 St & Park Ave
Inserting station 360 at William St & Pine St
Inserting station 361 at Allen St & Hester St
Inserting station 362 at Broadway & W 37 St
Inserting station 363 at West Thames St
Inserting station 364 at Lafayette Ave & Classon Ave
Inserting station 365 at Fulton St & Grand Ave
Inserting station 366 at Clinton Ave & Myrtle Ave
Inserting station 368 at Carmine St & 6 Ave
Inserting station 369 at Washington Pl & 6 Ave
Inserting station 372 at Franklin Ave & Myrtle Ave
Inserting station 373 at Willoughby Ave & Walworth St
Inserting station 376 at John St & William St
Inserting station 377 at 6 Ave & Canal St
Inserting station 379 at W 31 St & 7 Ave
Inserting station 380 at W 4 St & 7 Ave S
Inserting station 382 at University Pl & E 14 St
Inserting station 383 at Greenwich Ave & Charles St
Inserting station 385 at E 55 St & 2 Ave
Inserting station 386 at Centre St & Worth St
Inserting station 387 at Centre St & Chambers St
Inserting station 388 at W 26 St & 10 Ave
Inserting station 389 at Broadway & Berry St
Inserting station 390 at Duffield St & Willoughby St
Inserting station 391 at Clark St & Henry St
Inserting station 392 at Jay St & Tech Pl
Inserting station 393 at E 5 St & Avenue C
Inserting station 394 at E 9 St & Avenue C
Inserting station 396 at Lefferts Pl & Franklin Ave
Inserting station 397 at Fulton St & Clermont Ave
Inserting station 398 at Atlantic Ave & Furman St
Inserting station 399 at Lafayette Ave & St James Pl
Inserting station 400 at Pitt St & Stanton St
Inserting station 401 at Allen St & Rivington St
Inserting station 402 at Broadway & E 22 St
Inserting station 403 at E 2 St & 2 Ave
Inserting station 405 at Washington St & Gansevoort St
Inserting station 406 at Hicks St & Montague St
Inserting station 407 at Henry St & Poplar St
Inserting station 408 at Market St & Cherry St
Inserting station 409 at DeKalb Ave & Skillman St
Inserting station 410 at Suffolk St & Stanton St
Inserting station 411 at E 6 St & Avenue D
Inserting station 412 at Forsyth St & Canal St
Inserting station 414 at Pearl St & Anchorage Pl
Inserting station 415 at Pearl St & Hanover Square
Inserting station 416 at Cumberland St & Lafayette Ave
Inserting station 417 at Barclay St & Church St
Inserting station 418 at Front St & Gold St
Inserting station 419 at Carlton Ave & Park Ave
Inserting station 420 at Clermont Ave & Lafayette Ave
Inserting station 421 at Clermont Ave & Park Ave
Inserting station 422 at W 59 St & 10 Ave
Inserting station 423 at W 54 St & 9 Ave
Inserting station 426 at West St & Chambers St
Inserting station 427 at Bus Slip & State St
Inserting station 428 at E 3 St & 1 Ave
Inserting station 430 at York St & Jay St
Inserting station 432 at E 7 St & Avenue A
Inserting station 433 at E 13 St & Avenue A
Inserting station 434 at 9 Ave & W 18 St
Inserting station 435 at W 21 St & 6 Ave
Inserting station 436 at Hancock St & Bedford Ave
Inserting station 437 at Macon St & Nostrand Ave
Inserting station 438 at St Marks Pl & 1 Ave
Inserting station 439 at E 4 St & 2 Ave
Inserting station 440 at E 45 St & 3 Ave
Inserting station 441 at E 52 St & 2 Ave
Inserting station 442 at W 27 St & 7 Ave
Inserting station 443 at Bedford Ave & S 9 St
Inserting station 445 at E 10 St & Avenue A
Inserting station 446 at W 24 St & 7 Ave
Inserting station 447 at 8 Ave & W 52 St
Inserting station 448 at W 37 St & 10 Ave
Inserting station 449 at W 52 St & 9 Ave
Inserting station 450 at W 49 St & 8 Ave
Inserting station 453 at W 22 St & 8 Ave
Inserting station 454 at E 51 St & 1 Ave
Inserting station 455 at 1 Ave & E 44 St
Inserting station 456 at E 53 St & Madison Ave
Inserting station 457 at Broadway & W 58 St
Inserting station 458 at 11 Ave & W 27 St
Inserting station 459 at W 20 St & 11 Ave
Inserting station 460 at S 4 St & Wythe Ave
Inserting station 461 at E 20 St & 2 Ave
Inserting station 462 at W 22 St & 10 Ave
Inserting station 465 at Broadway & W 41 St
Inserting station 466 at W 25 St & 6 Ave
Inserting station 467 at Dean St & 4 Ave
Inserting station 468 at Broadway & W 56 St
Inserting station 469 at Broadway & W 53 St
Inserting station 470 at W 20 St & 8 Ave
Inserting station 471 at Grand St & Havemeyer St
Inserting station 472 at E 32 St & Park Ave
Inserting station 473 at Rivington St & Chrystie St
Inserting station 474 at 5 Ave & E 29 St
Inserting station 476 at E 31 St & 3 Ave
Inserting station 477 at W 41 St & 8 Ave
Inserting station 478 at 11 Ave & W 41 St
Inserting station 479 at 9 Ave & W 45 St
Inserting station 480 at W 53 St & 10 Ave
Inserting station 481 at S 3 St & Bedford Ave
Inserting station 482 at W 15 St & 7 Ave
Inserting station 483 at E 12 St & 3 Ave
Inserting station 484 at W 44 St & 5 Ave
Inserting station 485 at W 37 St & 5 Ave
Inserting station 486 at Broadway & W 29 St
Inserting station 487 at E 20 St & FDR Drive
Inserting station 490 at 8 Ave & W 33 St
Inserting station 491 at E 24 St & Park Ave S
Inserting station 492 at W 33 St & 7 Ave
Inserting station 494 at W 26 St & 8 Ave
Inserting station 495 at W 47 St & 10 Ave
Inserting station 496 at E 16 St & 5 Ave
Inserting station 497 at E 17 St & Broadway
Inserting station 498 at Broadway & W 32 St
Inserting station 499 at Broadway & W 60 St
Inserting station 500 at Broadway & W 51 St
Inserting station 501 at FDR Drive & E 35 St
Inserting station 502 at Henry St & Grand St
Inserting station 503 at E 20 St & Park Ave
Inserting station 504 at 1 Ave & E 16 St
Inserting station 505 at 6 Ave & W 33 St
Inserting station 507 at E 25 St & 2 Ave
Inserting station 508 at W 46 St & 11 Ave
Inserting station 509 at 9 Ave & W 22 St
Inserting station 513 at W 56 St & 10 Ave
Inserting station 514 at 12 Ave & W 40 St
Inserting station 515 at W 43 St & 10 Ave
Inserting station 516 at E 47 St & 1 Ave
Inserting station 517 at Pershing Square South
Inserting station 518 at E 39 St & 2 Ave
Inserting station 519 at Pershing Square North
Inserting station 520 at W 52 St & 5 Ave
Inserting station 522 at E 51 St & Lexington Ave
Inserting station 523 at W 38 St & 8 Ave
Inserting station 524 at W 43 St & 6 Ave
Inserting station 525 at W 34 St & 11 Ave
Inserting station 526 at E 33 St & 5 Ave
Inserting station 527 at E 33 St & 2 Ave
Inserting station 528 at 2 Ave & E 31 St
Inserting station 529 at W 42 St & 8 Ave
Inserting station 530 at 11 Ave & W 59 St
Inserting station 531 at Forsyth St & Broome St
Inserting station 532 at S 5 Pl & S 4 St
Inserting station 533 at Broadway & W 38 St
Inserting station 534 at Water - Whitehall Plaza
Inserting station 536 at 1 Ave & E 30 St
Inserting station 537 at Lexington Ave & E 24 St
Inserting station 539 at Metropolitan Ave & Bedford Ave
Inserting station 540 at Lexington Ave & E 29 St
Inserting station 545 at E 23 St & 1 Ave
Inserting station 546 at E 30 St & Park Ave S
Inserting station 2000 at Front St & Washington St
Inserting station 2001 at Sands St & Navy St
Inserting station 2002 at Wythe Ave & Metropolitan Ave
Inserting station 2003 at 1 Ave & E 18 St
Inserting station 2005 at Railroad Ave & Kay Ave
Inserting station 2006 at Central Park S & 6 Ave
Inserting station 2008 at Little West St & 1 Pl
Inserting station 2009 at Catherine St & Monroe St
Inserting station 2010 at Grand St & Greene St
Inserting station 2012 at E 27 St & 1 Ave
Inserting station 2021 at W 45 St & 8 Ave
Inserting station 2022 at E 60 St & York Ave
Inserting station 2023 at E 55 St & Lexington Ave
Inserting station 3002 at South End Ave & Liberty St
Inserting station 3016 at Kent Ave & N 7 St
Inserting station 3041 at Kingston Ave & Herkimer St
Inserting station 3042 at Fulton St & Utica Ave
Inserting station 3043 at Lewis Ave & Decatur St
Inserting station 3044 at Albany Ave & Fulton St
Inserting station 3046 at Marcus Garvey Blvd & Macon St
Inserting station 3047 at Halsey St & Tompkins Ave
Inserting station 3048 at Putnam Ave & Nostrand Ave
Inserting station 3049 at Cambridge Pl & Gates Ave
Inserting station 3050 at Putnam Ave & Throop Ave
Inserting station 3052 at Lewis Ave & Madison St
Inserting station 3053 at Marcy Ave & Lafayette Ave
Inserting station 3054 at Greene Ave & Throop Ave
Inserting station 3055 at Greene Ave & Nostrand Ave
Inserting station 3056 at Kosciuszko St & Nostrand Ave
Inserting station 3057 at Kosciuszko St & Tompkins Ave
Inserting station 3058 at Lewis Ave & Kosciuszko St
Inserting station 3059 at Pulaski St & Marcus Garvey Blvd
Inserting station 3060 at Willoughby Ave & Tompkins Ave
Inserting station 3061 at Throop Ave & Myrtle Ave
Inserting station 3062 at Myrtle Ave & Marcy Ave
Inserting station 3063 at Nostrand Ave & Myrtle Ave
Inserting station 3064 at Myrtle Ave & Lewis Ave
Inserting station 3065 at Union Ave & Wallabout St
Inserting station 3066 at Tompkins Ave & Hopkins St
Inserting station 3067 at Broadway & Whipple St
Inserting station 3068 at Humboldt St & Varet St
Inserting station 3069 at Lorimer St & Broadway
Inserting station 3070 at McKibbin St & Manhattan Ave
Inserting station 3071 at Boerum St & Broadway
Inserting station 3072 at Leonard St & Boerum St
Inserting station 3073 at Division Ave & Hooper St
Inserting station 3074 at Montrose Ave & Bushwick Ave
Inserting station 3075 at Division Ave & Marcy Ave
Inserting station 3076 at Scholes St & Manhattan Ave
Inserting station 3077 at Stagg St & Union Ave

Inserting station 3078 at Broadway & Roebling St
Inserting station 3080 at S 4 St & Rodney St
Inserting station 3081 at Graham Ave & Grand St
Inserting station 3082 at Hope St & Union Ave
Inserting station 3083 at Bushwick Ave & Powers St
Inserting station 3085 at Roebling St & N 4 St
Inserting station 3086 at Graham Ave & Conselyea St
Inserting station 3087 at Metropolitan Ave & Meeker Ave
Inserting station 3088 at Union Ave & Jackson St
Inserting station 3090 at N 8 St & Driggs Ave
Inserting station 3091 at Frost St & Meeker St
Inserting station 3092 at Berry St & N 8 St
Inserting station 3093 at N 6 St & Bedford Ave
Inserting station 3094 at Graham Ave & Withers St
Inserting station 3095 at Graham Ave & Herbert St
Inserting station 3096 at Union Ave & N 12 St
Inserting station 3100 at Nassau Ave & Newell St
Inserting station 3101 at N 12 St & Bedford Ave
Inserting station 3102 at Driggs Ave & Lorimer St
Inserting station 3103 at N 11 St & Wythe Ave
Inserting station 3105 at N 15 St & Wythe Ave
Inserting station 3106 at Driggs Ave & N Henry St
Inserting station 3107 at Bedford Ave & Nassau Ave
Inserting station 3108 at Nassau Ave & Russell St
Inserting station 3109 at Banker St & Meserole Ave
Inserting station 3110 at Meserole Ave & Manhattan Ave
Inserting station 3112 at Milton St & Franklin St
Inserting station 3113 at Greenpoint Ave & Manhattan Ave
Inserting station 3115 at India St & Manhattan Ave
Inserting station 3116 at Huron St & Franklin St
Inserting station 3117 at Franklin St & Dupont St
Inserting station 3118 at McGuinness Blvd & Eagle St
Inserting station 3119 at Vernon Blvd & 50 Ave
Inserting station 3120 at Center Blvd & Borden Ave
Inserting station 3121 at Jackson Ave & 46 Rd
Inserting station 3122 at 48 Ave & 5 St
Inserting station 3123 at 31 St & Thomson Ave
Inserting station 3124 at 46 Ave & 5 St
Inserting station 3125 at 45 Rd & 11 St
Inserting station 3126 at 44 Dr & Jackson Ave
Inserting station 3127 at 9 St & 44 Rd
Inserting station 3128 at 21 St & 43 Ave
Inserting station 3129 at Queens Plaza North & Crescent St
Inserting station 3130 at 21 St & Queens Plaza North
Inserting station 3131 at E 68 St & 3 Ave
Inserting station 3132 at E 59 St & Madison Ave
Inserting station 3134 at 3 Ave & E 62 St
Inserting station 3135 at E 75 St & 3 Ave
Inserting station 3136 at 5 Ave & E 63 St
Inserting station 3137 at 5 Ave & E 73 St
Inserting station 3139 at E 72 St & Park Ave
Inserting station 3140 at 1 Ave & E 78 St
Inserting station 3141 at 1 Ave & E 68 St
Inserting station 3142 at 1 Ave & E 62 St
Inserting station 3143 at 5 Ave & E 78 St
Inserting station 3144 at E 81 St & Park Ave
Inserting station 3145 at E 84 St & Park Ave
Inserting station 3146 at E 81 St & 3 Ave
Inserting station 3147 at E 85 St & 3 Ave
Inserting station 3148 at E 84 St & 1 Ave

IntegrityError: (1062, "Duplicate entry '3148-2017-09-05 09:05:47' for key 'PRIMARY'")

In [ ]:
cur = con.cursor(mdb.cursors.DictCursor)
cur.execute("SELECT * FROM {db}.{table}".format(db=db_name, table=table_name))
rows = cur.fetchall()
cur.close()

In [ ]:
for row in rows:
    print("Station ID:", row["station_id"])
    print("Station Name:", row["station_name"])
    print("Number of Docks:", row["number_of_docks"])
    print("Available Docks:", row["available_docks"])
    print("Last Communication:", row["date"])
    print("=============================================")

We can, of course, transform the results back into a DataFrame (see below) or we can use the data directly from the rows object (which is a tuple, containing one dictionary object for each line of the results).

In [ ]:
import pandas as pd
cur = con.cursor(mdb.cursors.DictCursor)
cur.execute("SELECT * FROM {db}.{table}".format(db=db_name, table=table_name))
rows = cur.fetchall()
cur.close()

In [ ]:
df_from_sql = pd.DataFrame(list(rows))
df_from_sql

In [ ]:
# We can then compute functions directly on the dataframe
sum(df_from_sql["number_of_docks"])

In [ ]:
# We can then compute functions directly on the dataframe
sum(df_from_sql["available_docks"])

In [ ]:
# And we can also create 
df_from_sql["bikes_docked"] = df_from_sql["number_of_docks"] - df_from_sql["available_docks"]

In [ ]:
sum(df_from_sql['bikes_docked'])

Finally, let's clean up and close our database connection.

In [ ]:
create_db_query = "DROP DATABASE IF EXISTS {db}".format(db=db_name)

# Create a database
cursor = con.cursor()
cursor.execute(create_db_query)
cursor.close()

In [ ]:
con.close()