### Using Pandas DataFrames to store SQL results

#### Using sql magic extension



The code below demonstrates how to convert the results of an SQL query into a Pandas Dataframe

In [ ]:
%reload_ext sql
%sql mysql://root:dwdstudent2015@localhost:3306/imdb?charset=utf8

In [ ]:
actors = %sql SELECT * FROM actors

In [ ]:
actors.keys

In [ ]:
import pandas as pd
df_actors = pd.DataFrame(actors, columns=actors.keys)
df_actors

In [ ]:
df_actors["first_name"].describe()

In [ ]:
df_actors["last_name"].value_counts()

In [ ]:
%reload_ext sql
%sql mysql://root:dwdstudent2015@localhost:3306/citibike?charset=utf8

In [ ]:
docks = %sql SELECT * FROM citibike.Docks

In [ ]:
df_docks = pd.DataFrame(docks, columns=docks.keys)
df_docks

In [ ]:
%matplotlib inline
df_docks["number_of_docks"].hist()
df_docks["available_docks"].hist()

#### Importing into DataFrames using MySQLdb and cursors

In [ ]:
import MySQLdb as mdb
import sys
import pandas

host = 'localhost'
username = 'root'
password = 'dwdstudent2015'
database = 'imdb'

con = mdb.connect(host, username, password, database, charset='utf8', use_unicode=True);


# The dictionary cursor
# There are multiple cursor types in the MySQLdb module. 
# The default cursor returns the data in a tuple of tuples. 
# When we use a dictionary cursor, the data is sent in a form of Python dictionaries. 
# This way we can refer to the data by their column names.
with con:

    cur = con.cursor(mdb.cursors.DictCursor)
    cur.execute("SELECT * FROM actors LIMIT 1000")
    actors = cur.fetchall()
    df_actors = pandas.DataFrame(list(actors))

### Further Examples with SQL and Pandas

In [ ]:
%reload_ext sql
%sql mysql://root:dwdstudent2015@localhost:3306/facebook?charset=utf8

In [ ]:
# A little bit of setup code, just to make the plots look better
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# Make the graphs a bit prettier, and bigger
pd.set_option('display.mpl_style', 'default')
plt.rcParams['figure.figsize'] = (15, 5)

Now let's run a query to get the political views of Facebook users, broken down by gender.

In [ ]:
polviews_by_gender = %%sql \
SELECT Sex, `Political Views` AS PoliticalViews, COUNT(*) AS cnt \
FROM Profiles \
WHERE Sex IS NOT NULL AND `Political Views` IS NOT NULL \
GROUP BY Sex, `Political Views`  \
ORDER BY  `Political Views`, Sex

And let's get the dataframe:

In [ ]:
# This is an idiom from the sql magic extension
# df = polviews_by_gender.DataFrame()
# df
# 
# See https://github.com/catherinedevlin/ipython-sql
 
# But let's do things our way:
df = pd.DataFrame(polviews_by_gender, columns=polviews_by_gender.keys)
df

In [ ]:
# Let's plot this!
# Bleh, this is really fugly...
df.plot(kind='bar')

In [ ]:
# Pivot, baby!
dfp = df.pivot(index='PoliticalViews', columns='Sex', values='cnt')
dfp

In [ ]:
dfp.plot(kind='bar')

In [ ]:
# Let's normalize the columns, as we have more females than males, and it seems that there are always more women
dfp["Female"] = dfp["Female"]/sum(dfp["Female"])
dfp["Male"] = dfp["Male"]/sum(dfp["Male"])
dfp

In [ ]:
dfp.plot(kind='bar')

In [ ]:
# OK, now let's try to re-order the list of results according to the logical structure
neworder = ['Very Liberal', 'Liberal', 'Moderate', 'Conservative', 'Very Conservative', 'Libertarian', 'Apathetic', 'Other']
newindex = sorted(dfp.index, key=lambda x: neworder.index(x))
dfp = dfp.reindex(newindex)
dfp

In [ ]:
dfp.plot(kind='bar')

### Facebook, Favorite Books, and Political views

In [ ]:
books = %%sql \
SELECT F.FavoriteBook, P.`Political Views` AS PoliticalViews, COUNT(*) AS cnt \
FROM Profiles P JOIN FavoriteBooks F ON F.ProfileID = P.ProfileId  \
WHERE `Political Views` IS NOT NULL AND F.FavoriteBook IS NOT NULL \
GROUP BY F.FavoriteBook, P.`Political Views`

In [ ]:
df_books = pd.DataFrame(books, columns=books.keys)
df_books.head(10)

In [ ]:
df_books[ df_books['cnt'] > 20]

In [ ]:
# Pivot, baby!
dfp = df_books.pivot(index='FavoriteBook', columns='PoliticalViews', values='cnt')
dfp.head(10)

In [ ]:
# We will normalize the columns
import numpy as np

for politival_view in dfp.columns:
    print politival_view, np.nansum(dfp[politival_view])
    dfp[politival_view] = dfp[politival_view] / np.nansum(dfp[politival_view])
    
dfp

In [ ]:
dfp["Liberal_To_Conservative"] = (dfp["Liberal"] + dfp["Very Liberal"]) / (dfp["Conservative"] + dfp["Very Conservative"])

In [ ]:
dfp.sort_values("Liberal_To_Conservative", ascending=False)

In [ ]:
dfp.sort_values("Liberal_To_Conservative", ascending=True)