## Data Types

Notice in the examples below, the different operations result in different types of outcomes.

In [1]:
print(1 + 1) # this is an integer

2

In [2]:
print(1.0 + 1) # this is an integer added to a decimal/floating point

2.0

In [3]:
print("1" + "1") # this a string/text

11

In [4]:
print(100 * 2)

200

In [5]:
print(100 * "2")

2222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222

We will learn more about the different types of variables later, but for now, remember that you can use the `type` command to find out the type of an expression:

In [6]:
type(1)

int

In [7]:
type(3.14)

float

In [8]:
type("Hello")

str

In [9]:
type("1")

str

In [10]:
type("3.14")

str

In [11]:
type(1+1)

int

In [12]:
type("1" + "1")

str

In [13]:
type(10 * "2")

str

**Lesson**: Notice the different data types above: `str` (string), `int` (integer), `float` (decimal numbers). One thing hat you will notice is that the outcome of the various operators (`+`, `*`, etc) can be different based on the data types involved.

#### Exercise 

What will the following program print out? Figure it our _before_ running the program.

In [ ]:
x = 41
x = x + 1
print(x)

In [ ]:
x = "41"
x = x + "1"
print(x)