### String Formatting

Often one wants to embed other information into strings, sometimes with special formatting constraints. In python, one may insert special formatting characters into strings that convey what type of data should be inserted and where, and how the "stringified" form should be formatted. For instance:

In [ ]:
print('Coordinates: {latitude}, {longitude}'
      .format(latitude='37.24N', longitude='115.81W'))

Or we can have the parameter values being variables:

In [2]:
lat = '37.24N'
lon = '115.81W'
print('Coordinates: {latitude}, {longitude}'.format(latitude=lat, longitude=lon))

Coordinates: 37.24N, 115.81W

We can of course re-order and use multiple times the placeholders:

In [3]:
lat = '37.24N'
lon = '115.81W'
print('Latitude: {latitude}, Longitude: {longitude} ==> [{latitude}, {longitude}]'
      .format(latitude=lat, longitude=lon))

Latitude: 37.24N, Longitude: 115.81W ==> [37.24N, 115.81W]

#### More formatting options

Below we will see a few more options, mainly for formatting numbers. (For a more detailed treatment on string formatting options, [see here](https://docs.python.org/3.5/library/string.html#format-string-syntax).) We can achieve the formatting by adding after the number/name the character `:` follows by a set of formatting options.

```
field       ::=  "{" field_name [":" format_spec] "}"
format_spec ::=  [[fill character]align][sign][width][,][.precision][type]
align       ::=  "<" | ">" | "=" | "^"
sign        ::=  "+" | "-" | " "
width       ::=  number of digits in total (if width has a 0 in front, we add 0's for zero-padding)
precision   ::=  number of decimal points
```

Some common `type`s: 

* `d` integer
* `f` floating point
* `%` percent
* `e` exponential format
* `c` character
* `s` string

##### Formatting decimal numbers

In [5]:
# Without the use of placeholders. Notice the spaces before and after the result.
print("Result: |",100/23,"|")

Result: | 4.3478260869565215 |

In [6]:
# Using a placeholder. Notice that the spaces around the number disappear.
print("Result: |{num}|".format(num=100/23))

Result: |4.3478260869565215|

In [7]:
# Now we specify the type of "num" and we say it will be a floating point
# Notice that we got a smaller number of decimal digits.
print("Result: |{num:f}|".format(num=100/23))

Result: |4.347826|

In [8]:
# Now let's specify the length that we want to reserve for the string
# The number above took a total of 8 characters (including the decimal)
# Now let's specify that we have 10 characters available.
# Notice the spaces in front of the number in the result
print("Result: |{num:10f}|".format(num=100/23))

Result: |  4.347826|

In [9]:
# Keep six digits for the whole number, out of which 3 for the decimals
print("Result: |{num:6.3f}|".format(num=100/23))

Result: | 4.348|

In [10]:
# Compare with having 8 digits, 3 for decimals
print("Result: |{num:8.3f}|".format(num=100/23))

Result: |   4.348|

In [11]:
# Or having 8 digits, 5 for decimals
print("Result: |{num:8.5f}|".format(num=100/23))

Result: | 4.34783|

In [12]:
# Keep seven digits for the whole number, out of which 2 for the decimals
print("Result: |{num:7.2f}|".format(num=100/23))
print("Result: |{num:7.2f}|".format(num=1000/23))
print("Result: |{num:7.2f}|".format(num=10000/23))
print("Result: |{num:7.2f}|".format(num=100000/23))
print("Result: |{num:7.2f}|".format(num=1000000/23))

Result: |   4.35|
Result: |  43.48|
Result: | 434.78|
Result: |4347.83|
Result: |43478.26|

##### Extra options: Comma-separated thousands, zero padding

In [13]:
# Sixteen digits total and four decimal digits, with comma-separated thousands
print("Result: |{num:16,.4f}|".format(num=1000000/7))

Result: |    142,857.1429|

In [14]:
# Same example without the comma-separator
print("Result: |{num:16.4f}|".format(num=1000000/7))

Result: |     142857.1429|

In [15]:
# Keep six digits for the whole number, out of which 3 for the decimals, with zero padding in front
print("Result: |{num:07.3f}|".format(num=100/23))

Result: |004.348|

In [16]:
# Floating point with three seven digits
print("Result: |{num:.7f}|".format(num=100/23))

Result: |4.3478261|

##### Percentages, alignment

In [18]:
correct = 19
total = 22
# Expressing a percentage: We use % instead of f
# We ask for 7 characters total, and two decimal numbers.
# The 7 characters include the % sign, and the decimal point
# so we have three characters allocated for the integer part
# Our number has only two digits in the integer, so we get an 
# empty space in front
print('Correct answers: |{result:7.2%}|'.format(result=correct /total))

Correct answers: | 86.36%|

In [19]:
# alignment
# < means left alignment
# 30 means 30 characters allocated for the message
# s means string (it is the default, and often omitted)
print('|{message:<30s}|'.format(message='left aligned message'))

|left aligned message          |

In [20]:
# ^ means center alignment
print('|{message:^30s}|'.format(message='centered message'))

|       centered message       |

In [21]:
# > means right alignment
print('|{message:>30s}|'.format(message='right aligned message'))

|         right aligned message|

In [ ]:
# fill
print('|{message:#<80s}|'.format(message='left aligned with # chars as fill'))
print('|{message:#>80s}|'.format(message='right aligned with # chars as fill'))
print('|{message:#^80s}|'.format(message='centered with # chars as fill'))

##### Exercise

We have a list of people and scores to display. 

Write code that:
* Align the names to the left, and the scores to the right
* Allocate 10 characters for the name, and 5 characters for the score (5 for the integer, one for the decimal point, and 1 for decimal number)

We want the outcome to look like this:

```
Name      Score
----      -----
Beth       10.0
Frederick   8.5
Panos       7.1
```

In [29]:
name1 = "Beth"
name2 = "Frederick"
name3 = "Panos"
score1 = 10.0
score2 = 8.51324
score3 = 7.12321
template_header = "{name:10s}\t{score:>7s}"
template_row    = "{name:10s}\t{score:7.1f}"

print(template_header.format(name="NAME", score="SCORE"))
print(template_header.format(name="----", score="-----"))
print(template_row.format(name=name1, score=score1))
print(template_row.format(name=name2, score=score2))
print(template_row.format(name=name3, score=score3))

NAME      	  SCORE
----      	  -----
Beth      	   10.0
Frederick 	    8.5
Panos     	    7.1

In [ ]:
# Solution; do not use this before trying your own solution

name1 = "Beth"
name2 = "Frederick"
name3 = "Panos"
score1 = 10.0
score2 = 8.51324
score3 = 7.12321
# Different formatting for headers and the data rows
# since we cannot apply floating point formatting to the 
# strings in the header
template_header = "{name:10s}\t{score:>7s}"
template_row    = "{name:10s}\t{score:7.1f}"
# Print the header lines with the header template
print(template_header.format(name="NAME", score="SCORE"))
print(template_header.format(name="----", score="-----"))
# Print the data lines with the data template
print(template_row.format(name=name1, score=score1))
print(template_row.format(name=name2, score=score2))
print(template_row.format(name=name3, score=score3))

In [ ]:
print("{name:10s}\t{score:7.1f}".format(name=name1, score=score1))
print("{name:10s}\t{score:7.1f}".format(name=name2, score=score2))
print("{name:10s}\t{score:7.1f}".format(name=name3, score=score3))

In [ ]:
print("{name:10s}\t{score:7.1f}".format(name="NAME", score="SCORE"))
print("{name:10s}\t{score:7.1f}".format(name=name1, score=score1))
print("{name:10s}\t{score:7.1f}".format(name=name2, score=score2))
print("{name:10s}\t{score:7.1f}".format(name=name3, score=score3))

In [ ]:
print("{name:10s}\t{score:>7s}".format(name="NAME", score="SCORE"))
print("{name:10s}\t{score:7.1f}".format(name=name1, score=score1))
print("{name:10s}\t{score:7.1f}".format(name=name2, score=score2))
print("{name:10s}\t{score:7.1f}".format(name=name3, score=score3))

In [ ]:
print("{name:10s}\t{score:>7s}".format(name="NAME", score="SCORE"))
print("{name:10s}\t{score:>7s}".format(name="----", score="-----"))
print("{name:10s}\t{score:7.1f}".format(name=name1, score=score1))
print("{name:10s}\t{score:7.1f}".format(name=name2, score=score2))
print("{name:10s}\t{score:7.1f}".format(name=name3, score=score3))

In [ ]:
template_header = "{name:10s}\t{score:>7s}"
template_row    = "{name:10s}\t{score:7.1f}"