### Combining (Nesting) Data Structures:

So far, we have examined complex data structures (lists, sets, dictionaries) that containes "scalar" values (integers, strings, boolean, etc). 

In reality, we can store any type of value in these data structures.

Consider the case of the following dictionary:

In [ ]:
phones = {
    "Panos": "212-998-0803",
    "Maria": "656-233-5555",
    "John": "693-232-5776",
    "Jake": "415-794-3423"
}

Let's say that we want to have more than one phone assinged to Panos. It is not possible to simply assign the value to a new number, as this will just replace the current phone. For example:

In [ ]:
phones["Panos"] = "917-888-4455"
phones

What we can do instead is to have **a list** as value for the "Panos" key:

In [ ]:
phones = {
    "Panos": ["212-998-0803", "917-888-4455"],
    "Maria": ["656-233-5555"],
    "John": ["693-232-5776"],
    "Jake": ["415-794-3423"]
}

In [ ]:
phones["Panos"]

And then we can add and remove phones for each person:

In [ ]:
phones["Panos"].append("800-929-2923")
phones["Jake"].append("343-342-5455")
phones["Jake"].append("343-656-8766")
phones["Jake"].pop(0) # Remove the first phone for Jake
phones

Alternatively, we can use a *dictionary* as a value for each key:

In [ ]:
phones = {
    "Panos": {"Work":"212-998-0803", "Cell": "917-888-4455"},
    "Maria": {"Work":"656-233-5555"},
    "John": {"Cell":"693-232-5776"},
    "Jake": {"Home":"415-794-3423"}
}
phones

#### Accessing data within complex structures

To access the elements within complex structures, we just "stack" bracket/indexing operators:

In [ ]:
phones = {'Jake': ['343-342-5455', '343-656-8766'],
 'John': ['693-232-5776'],
 'Maria': ['656-233-5555'],
 'Panos': ['212-998-0803', '917-888-4455', '800-929-2923']}

In [ ]:
phones['Panos']

In [ ]:
phones.get('Panos')

In [ ]:
phones['Panos'][1]

In [ ]:
phones.get('Panos')[1]

Similarly, when we have a dictionary that contains dictionaries:

In [ ]:
phones = {
    "Panos": {"Work":"212-998-0803", "Cell": "917-888-4455"},
    "Maria": {"Work":"656-233-5555"},
    "John": {"Cell":"693-232-5776"},
    "Jake": {"Home":"415-794-3423"}
}

In [ ]:
phones['Panos']['Cell']

Or when we have a list of dictionaries:

In [ ]:
citibike_stations = [
    {'station_id': 72,  'capacity': 39, 'coords': {'lon': -73.9939, 'lat': 40.7673}, 'name': 'W 52 St & 11 Ave',   },
    {'station_id': 79,  'capacity': 33, 'coords': {'lon': -74.0067, 'lat': 40.7191}, 'name': 'Franklin St & W Broadway'},
    {'station_id': 82,  'capacity': 27, 'coords': {'lon': -74.0002, 'lat': 40.7673}, 'name': 'St James Pl & Pearl St'},
    {'station_id': 83,  'capacity': 62, 'coords': {'lon': -73.9763, 'lat': 40.6838}, 'name': 'Atlantic Ave & Fort Greene Pl'},
    {'station_id': 116, 'capacity': 39, 'coords': {'lon': -74.0015, 'lat': 40.7418}, 'name': 'W 17 St & 8 Ave'}
]

In [ ]:
citibike_stations[0]['name']

In [ ]:
citibike_stations[0]['coords']

In [ ]:
citibike_stations[0]['coords']['lat']

### Exercise

You are given the following data structure.

`data = {
    "Panos": {
        "Job":"Professor", 
        "YOB": "1976", 
        "Children": ["Gregory", "Anna"]
        }, 
    "Joe": {
        "Job":"Data Scientist", 
        "YOB": "1981"
        }
    }`

You need to write code that

* Prints the job of Joe
* Prints the year of birth of Panos; prints the age of Panos
* Prints the children of Panos
* Prints the second child of Panos
* Prints the number of people _entries_ in the data. (Notice that it is much harder to find all the people in the data, eg the children)
* Checks if Maria is in the data
* Checks if Panos has children. Would you code work when the list of children is empty?
* Checks if Joe has children. How can you handle the lack of the corresponding key?

In [ ]:
# your code here
data = {"Panos": {"Job":"Professor", 
                  "YOB": "1976", 
                  "Children": ["Gregory", "Anna"]}, 
        "Joe": {"Job":"Data Scientist", 
                "YOB": "1981"}}

In [ ]:
# Prints the job of Joe

In [ ]:
# Prints the year of birth of Panos

In [ ]:
# Prints the children of Panos

In [ ]:
# Prints the second child of Panos

In [ ]:
# Checks if Maria is in the data

In [ ]:
# Checks if Anna is in the data
# Notice that the in command *will not* look into the values

In [ ]:
# Checks if Panos has children

In [ ]:
# Checks if Joe has children